@page "/"
@using Trikotazo_Parduotuve.Entities
@using Trikotazo_Parduotuve.Repositories
@inject IRepository<Kategorija> kategorijaRepository;
@inject IRepository<Subkategorija> subkategorijaRepository;
@inject IRepository<Trikotazas> trikotazasRepository;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (kategorijos is null)
{
    <p>Loading...</p>
}
else
{
    <p>Kategorijos:</p>
    foreach(Kategorija kategorija in kategorijos)
    {
        <h3>@kategorija.pavadinimas</h3>
        <p>@kategorija.aprasymas</p>
    }
}

@if(subkategorijos is null)
{
    <p>Loading...</p>
}
else
{
    <p>Subkategorijos:</p>
    foreach(Subkategorija subkategorija in subkategorijos)
    {
        <h3>@subkategorija.pavadinimas</h3>
        <p>@subkategorija.lytis</p>
        <p>@subkategorija.aprasymas</p>
        <p>@subkategorija.kategorija</p>
    }
}

@code{
    private List<Kategorija> kategorijos;
    private List<Subkategorija> subkategorijos;
    private List<Trikotazas> trikotazai;

    protected override async Task OnInitializedAsync()
    {
        await LoadKategorijas();
        await LoadSubkategorijas();
        await LoadTrikotazus();
    }

    private async Task LoadKategorijas()
    {
        kategorijos = await kategorijaRepository.GetAllAsync();
    }

    private async Task LoadSubkategorijas()
    {
        subkategorijos = await subkategorijaRepository.GetAllAsync();
    }

    private async Task LoadTrikotazus()
    {
        trikotazai = await trikotazasRepository.GetAllAsync();
    }
}