@page "/SubkategorijaList"
@using Trikotazo_Parduotuve.Entities
@using Trikotazo_Parduotuve.Repositories
@inject SubkategorijaRepository subkategorijaRepository
@inject KategorijaRepository kategorijaRepository;
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>Subkategorijos</h3>


@if (subkategorijos is null)
{
    <h2>Loading...</h2>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Pavadinimas</th>
                <th scope="col">Lytis</th>
                <th scope="col">Aprašymas</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Kategorijos aprašymas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Subkategorija subkategorija in subkategorijos)
            {
                <tr>
                    <td>@subkategorija.Pavadinimas</td>
                    <td>@subkategorija.Lytis</td>
                    <td>@subkategorija.Aprasymas</td>
                    <td>@kategorijosDict[subkategorija.Fk_KATEGORIJA].Pavadinimas</td>
                    <td>@kategorijosDict[subkategorija.Fk_KATEGORIJA].Aprasymas</td>
                    <td><button @onclick="()=>DeleteSubkategorija(subkategorija)">Šalinti</button></td>
                    <td><button @onclick="()=>GoToSubkategorijaForm(subkategorija)">Redaguoti</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Subkategorija> subkategorijos;
    private Dictionary<string, Kategorija> kategorijosDict;

    protected override async Task OnInitializedAsync()
    {
        var kategorijos = await kategorijaRepository.GetAllAsync();
        kategorijosDict = kategorijos.ToDictionary(k => k.Pavadinimas);

        subkategorijos = await subkategorijaRepository.GetAllAsync();
    }

    public void GoToSubkategorijaForm(Subkategorija subkategorija)
    {
        navigationManager.NavigateTo($"/SubkategorijaForm/{subkategorija.Pavadinimas}/{subkategorija.Lytis}");
    }


    public async Task DeleteSubkategorija(Subkategorija subkategorija)
    {
        await subkategorijaRepository.Remove(subkategorija);
        subkategorijos.Remove(subkategorija);
    }
}